body{
	background-color: #dddddd;
}

a:link{
	text-decoration: none;
}

#page_table{
	width: 100%;
}

#title_table{
	width: 100%;
	background-color: orange;
}

#title_row{
	border: solid 2px black;
}

#title_cell{
	text-align: center;
}

#home_page_cell {
	text-align: right;
}

#title_table td{
	width: 33%;
}

#home_page {
	position: relative;
	text-align: right;
	font-weight: bold;
	font-size: 1.5em;
	color: #eeeeee;
}

#title{
	font-size: 2em;
	color: #111111;
}

#home_link {
	position: relative;
	text-align: right;
	font-size: 22px;
	color: red;
}
 
h2{
	display: block;
	color: gold;
	background-color: #aa1133;
	text-align: center;
	font-size: 30px;
}

h3{
	color: #0000dd;
}

h4{
	color: #dd0000;
}